<%# The 'title' variable is passed from the controller %>
<h1><%= title %></h1>

<%- messages() %>

<div class="management-links">
    <a href="/inv/add-classification">Add New Classification</a>
    <a href="/inv/add-inventory">Add New Vehicle</a>
</div>

<%# New content for displaying inventory by classification %>
<h2>Manage Inventory</h2>
<p>Choose a classification from the list to see the items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<%# Link to the new JavaScript file %>
<script src="../../js/inventory.js"></script>